{% load static %}

<!DOCTYPE html>
<html data-theme="synthwave">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A real-time chat application powered by Django, HTMX and TailwindCSS." />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <title>
      {% block title %}
        Chat
      {% endblock %}
    </title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    {% block extra_head %}

    {% endblock %}

    <style>
      .messages {
        height: 400px;
        overflow-y: auto;
      }
    </style>
  </head>
  <body class="bass-100">
    <nav class="navbar glass rounded-box flex w-full gap-2 shadow max-md:flex-col md:items-center">
      <div class="flex w-full items-center justify-between">
        <div class="navbar-start items-center justify-between max-md:w-full">
          <a class="link text-base-content/90 link-neutral text-xl font-semibold no-underline" href="/">Chat</a>
          <div class="md:hidden">
            <button type="button" class="collapse-toggle btn btn-outline btn-secondary btn-sm btn-square" data-collapse="#default-navbar-collapse" aria-controls="default-navbar-collapse" aria-label="Toggle navigation">
              <span class="icon-[tabler--menu-2] collapse-open:hidden size-4"></span>
              <span class="icon-[tabler--x] collapse-open:block hidden size-4"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="navbar-end space-x-4">
        <a href="{% url 'list_chat_rooms' %}" class="btn btn-primary">Chat Rooms</a>
        {% if request.user.is_authenticated %}
          <a href="{% url 'account_logout' %}" class="btn btn-primary" aria-label="Account Logout">Logout</a>
        {% else %}
          <a href="{% url 'account_login' %}" class="btn btn-primary" aria-label="Account Login">Login</a>
          <a href="{% url 'account_signup' %}" class="btn btn-primary" aria-label="Account Registration">Sign Up</a>
        {% endif %}
      </div>
    </nav>

    <main class="p-6">
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2024 My Chat App</p>
    </footer>

    {% block extra_js %}
      <script src="{% static 'js/flyonui.js' %}"></script>
    {% endblock %}
  </body>
</html>
