{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A real-time chat application powered by Django, HTMX and TailwindCSS." />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <title>
      {% block title %}
        Chat
      {% endblock %}
    </title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    {% block extra_head %}

    {% endblock %}

    <style>
      .messages {
        height: 400px;
        overflow-y: auto;
      }
    </style>
  </head>
  <body class="bg-teal-600">
    <header>
      <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
        <div>
          <a href="/" class="text-xl text-white">Djangochat</a>
        </div>
        <div class="flex items-center space-x-4">
          <a href="{% url 'list_chat_rooms' %}" class="text-white hover:text-gray-200" aria-label="View Chat Rooms">Chat Rooms</a>
          {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" aria-label="Account Logout">Logout</a>
          {% else %}
            <a href="{% url 'account_login' %}" class="text-white hover:text-gray-200" aria-label="Account Login">Login</a>
            <a href="{% url 'account_signup' %}" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" aria-label="Account Registration">Sign Up</a>
          {% endif %}
        </div>
      </nav>
    </header>
    <h1>Welcome to My Chat App</h1>

    <main id="content">
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2024 My Chat App</p>
    </footer>

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
